<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeeBudgetingLimited">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>
        <activity
            android:name=".Login"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".HomeScreen"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BarryCareScreen"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BarryDressUp"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ProfileScreen"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SettingsScreen"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoggingScreen"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CategoryScreen"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Analytics"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AddCategoryScreen"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ViewAllHomeScreen"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>